.catalog-container {
    font-size:1.125rem;
}

.catalog-title-container {
    margin-bottom:
}
.catalog-title-container h1{
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;
}

@media (min-width: 576px) {
    .catalog-container {
        font-size: 1.875rem;
    }
}