.product-filter-container {
  margin-bottom: 1.25rem;
  padding: 1rem;
}

.product-filter-name-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E1E1E1;
}

.product-filter-name-container input {
  display: flex;
  align-items: center;
  border-bottom: none;
}

.product-filter-name-container input:focus {
  box-shadow: none;
}

.product-filter-name-container input::placeholder {
  color: #9E9E9E;
}

@media (min-width: 768px) {
  .product-filter-container {
    margin-left: 1.25rem;
    flex: 1;
    margin-bottom: 0;
  }
}
