ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.admin-nav-container {
    padding: 0.625rem;
    background: #FFF;
    
}

.admin-nav-item {
   display: flex;
   justify-content:center;
   align-items: center;
   height: 3.125rem;
   background: #F2F2F2;
   border-radius: 6.25rem;
   padding: 0 0.625rem;
   font-size: 1rem;
   font-weight: 800;
   letter-spacing: -0.015em;
   color: #9E9E9E;
}

.admin-nav-item.active {
    background: rgba(64, 123, 255, 0.3);
    color: #407BFF;
}
.admin-nav-item p {
    margin: 0;
}

@media (min-width: 768px) {
    .admin-nav-item {
        min-width: 13.75rem;
    }
}

@media (min-width: 1200px) {
    ul {
        justify-content: unset;
        flex-direction: column;
    }

    .admin-nav-container {
        padding:0;
        width: 18.75rem;
        height: calc(100vh - 4.375rem);
    }

    .admin-nav-item {
        justify-content: flex-start;
        padding:0 0 0 2.5rem;
        height: 5rem;
        background: #FFF;
        border-radius: 0;
        font-size: 1.2rem;
        border-bottom: 1px solid #E1E1E1;    
    }
}