.product-crud-card {
  margin-bottom: 1.875rem;
  padding-bottom: 1.25rem;
}

.product-crud-card-top-container {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #e1e1e1;
}

.product-crud-card-top-container img {
  width: 9.5rem;
  height: 9.5rem;
}

.product-crud-card-bottom-container {
  padding: 1rem 1.25rem 1.875rem 1.25rem;
}

.product-crud-card-bottom-container h6 {
  font-size: 1.125rem;
  color: #263838;
}

.product-crud-categories-container {
  padding: 0 1.25rem;
  display: flex;
  flex-wrap: wrap;
}

.product-crud-card-buttons-container {
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
}

.product-crud-card-button {
  border-radius: 0.625rem;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: -0.015em;
  width: 6.25rem;
  height: 2.5rem;
}

.product-crud-card-button-first {
  margin-right: 0.625rem;
}

@media (min-width: 768px) {
  .product-crud-card {
    display: flex;
    justify-content: space-between;
    padding-bottom:0;
  }

  .product-crud-card-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-crud-card-top-container {
    border:0;
    border-right: 1px solid #e1e1e1;
  }

  .product-crud-card-buttons-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .product-crud-card-button {
    width: 8.75rem;
  }

  .product-crud-card-button-first {
    margin-right: 0;
    margin-top: 1.3rem;
  }
}

@media (min-width: 992px) {
  .product-crud-card-button {
    width: 13.75rem;
  }
}
