.product-details-container {
    padding: 0.625rem;
    font-size: 1.5rem;
}

.product-details-card {
    padding: 0.625rem;
}

.goback-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

.goback-container h2 {
    margin-left: 1rem;
    font-size: 1em;
    color: #263238;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.goback-container svg {
    margin-left: 0.313rem;
    color: #407BFF;
}

.img-container {
    text-align: center;
    margin-bottom: 1.25rem;
    border: 0.063rem solid #E1E1E1;
    border-radius: 1.25rem;
    padding: 0.8rem;
}

.img-container img {
    width: 80%;
}

.name-price-container {
    margin-bottom: 1.25rem;
}

.name-price-container h1 {
    color: #263238;
    font-size: 1.1em;
    letter-spacing: -0.015em;
}

.description-container {
    border: 0.063rem solid #E1E1E1;
    border-radius: 1.25rem;
    padding: 0.8rem;
}

.description-container h2 {
    color: #9E9E9E;
    letter-spacing: -0.015em;
    font-size:0.8em;
    margin-bottom: 1.25rem;
}

.description-container p {
    color: #9E9E9E;
    letter-spacing: -0.015em;
    font-size: 0.6em;
}

@media (min-width: 576px) {
    .product-details-container {
        padding: 1.25rem;
        font-size: 2rem;
    }

    .product-details-card {
        padding: 1.25rem;
    }
}

@media (min-width: 992px) {
    .product-details-container {
        padding: 2.5rem;
    }

    .product-details-card {
        padding: 2.5rem;
    }

    .img-container img {
        width: 50%;
    }

    .description-container {
        padding: 2.5rem;
    }

    .name-price-container {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .name-price-container {
        display: block;
    }

    .img-container img {
        height: 11.8rem;
        width: auto;
    }

    .description-container {
        min-height: 19.22rem;
    }
}

