.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #e1e1e1;
  font-size: 1.125rem;
  font-weight: 800;
  letter-spacing: -0.015rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.625rem;
}

.pagination-link-active {
  background: #407bff;
}

.pagination-arrow-container {
  display: flex;
  align-items: center;
}

.arrow-next {
    transform: rotate(180deg);
    margin-left: 0.625rem;
    color: #407bff;
}
.arrow-inactive {
  color: #e1e1e1;
}

.arrow-active {
  color: #407bff;
}
